.container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  
    padding: 32px;
  
    border-radius: 8px;
    padding: 32px;
    background: #f6f6fe;
    margin-bottom: 16px;
  }
  
  .input {
    border: 1px solid #808080;
    border-radius: 8px;
    padding: 8px 72px;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    color: black;
  
    padding-right: 0;
  }
  
  .btn {
    border-radius: 8px;
    border: 0;
    padding: 8px 16px;
    width: 120px;
    height: 40px;
  
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
  }
  
  .btn_red {
    background: #ff4e4e;
  }
  
  .btn_blue {
    background: #4e75ff;
  }