.gallery-item {
    width: 420px;
    height: 300px;
  }
  
  .gallery-img {
    list-style-type: none;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
  
    row-gap: 48px;
    column-gap: 24px;
  }